/* usage: @import "layout/layout"; */

.app-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.main-content {
    width: 90%;
    max-width: 600px;
    margin-top: 20px;
    background: var(--bg-main-content);
    border: 4px solid var(--border-color);
    box-shadow: 6px 6px 0 var(--shadow-main);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-height: 94vh;
    backdrop-filter: blur(5px);

    /* Ensure it floats above the water/canvas */
    position: relative;
    z-index: 100;
}