/* usage: @import "layout/panels"; */

.panels {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
    overflow-y: auto;
    /* Allow vertical scroll only if needed */
    overflow-x: hidden;
    padding: 10px;
    width: 100%;

    /* Clean scrollbar */
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}

.panel {
    border: 4px solid var(--border-color);
    /* Thick black border */
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: var(--color-panel-bg);
    /* White background */
    box-shadow: 6px 6px 0px var(--shadow-main);
    /* Solid shadow */
}