/* usage: @import "base/base"; */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: $font-primary;
    background-color: $color-bg;
    color: $color-text-main;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 480px;
    /* Mobile-first column */
    height: 90vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

/* Hidden utilities */
.hidden {
    display: none !important;
}